.Text {
    direction: rtl;
    white-space: nowrap;
    color: var(--inactive-txt-clr);
    margin-top: 24px;
    transform: rotate(-90deg);
    transition: .15s ease-in-out;
}

.Text:hover{
    color: black;
}

.Tab {
    width: 38px;
    height: 125px;
    box-shadow: var(--elevation-1);
    border-radius: 15px 0px 0px 15px;
    cursor: pointer;
    color: blue;
    background-color: var(--reversed-txt-clr);
}

.ActiveText, .ActiveText:hover {
    color: white;
}

.ActiveTab {
    box-shadow: -2px 1px 1px 0 rgba(0,0,0,0.14), -2px 2px 1px -1px rgba(0,0,0,0.12), -2px 1px 3px 0 rgba(0,0,0,0.20);;
    z-index: 1;
    background-color: var(--primary-clr);
}

.AboutTab {
    margin-top: 30px;
}
