.hero-container {
    display: flex;
    max-width: 100%;
    height: auto;
    z-index: -3;
}

.left-side {
    width: 50%;
    z-index: -3;
}

.left-side-dog{
    position: relative;
    height: 576px;
    float: right;
    /* grid-area: 1 / 2 / span 2 / span 1; */
  
}

.right-side{
    position: relative;
    width: 50%;
    display: grid;
    grid-template-rows: 30% auto auto auto 30%;
    grid-template-columns: auto;
    /* background-color: var(--primary-clr); */
    /* padding-left: 30px; */
    /* border-left: 30px solid var(--primary-clr);; */
    padding-left: 10%;
}

/* .right-side-dog{
    float: right;
    margin-right: 50px;
    height: 576px;
} */

.right-side-text {
    font-family: var(--ff-tertiary);
    display: block;
    grid-row: 2 / span 1;
    /* color: var(--accent-color-1); */
    color: var(--accent-color-2);;
    font-weight: 600;
    font-size: var(--hero);
}

.right-side-subtext {
    /* color:rgba(29, 10, 10, 0.9); */
    padding: 15px 0 15px 0;
    grid-row: 3 /span 1;
    color: var(--inactive-txt-clr);
    font-size: var(--h2);
    font-family: var(--ff-secondary);
    z-index: 100;
}

.signup-button {
    width: 195px;
    height: 62px;
    background-color: var(--primary-clr);
    color: var(--reversed-txt-clr);
    box-shadow: var(--elevation-1);
    border: none;
    border-radius: 7.5px;
    cursor: pointer;
}

.signup-button span h3{
    font-weight: 600;
}

.find-friend-button {
    margin: 20px 0px  0px 50px;
    width: 195px;
    height: 62px;
    cursor: default;
    background-color: var(--reversed-txt-clr);
    color: var(--accent-color-2);
    border: 2px solid var(--accent-color-2);
    border-radius: 7.5px;
    cursor: pointer;
    transition: .15s ease-in-out;
    font-size: var(--h2);
}

.signup-button:hover, .find-friend-button:hover{  
    transition: 0.15s;
    transform: translateY(-4px);
}

.find-friend-button:hover{
    color:var(--reversed-txt-clr);
    background-color: var(--accent-color-2);
}

/* button span {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}*/

.button-container{
    grid-row: 4 / span 1;
    z-index: 100;
}

/* ----------- iPad Pro 12.9" ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

  }

  /* Portrait and Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 


    .right-side{
        grid-template-rows: 30% 20% auto;
        grid-template-columns: auto;
        padding: 10% 2% 2% 2%;
    }

    .right-side-text {
        grid-row: 1 / span 1;
    }
    .right-side-subtext {
        grid-row: 2 /span 1;
        margin-top: 8%;
    }
    .button-container{
        grid-row: 3 / span 1;
        margin-top: 15%;
    }
    

    .find-friend-button {
        margin: 2% 0 0 2%;
        width: 45%;
        font-size: medium;
    }

    .signup-button {
        grid-row: 3 / span 1;
        width: 45%;
        font-size: medium;
    }



  }


  /* ----------- Responsive ----------- */

  /* Medium Size */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .right-side{
        grid-template-rows: 30% 20% auto;
        grid-template-columns: auto;
        padding: 10% 2% 2% 2%;
    }

    .right-side-text {
        grid-row: 1 / span 1;
    }
    .right-side-subtext {
        grid-row: 2 /span 1;
        margin-top: 8%;
    }
    .button-container{
        grid-row: 3 / span 1;
        margin-top: 15%;
    }
    

    .find-friend-button {
        margin: 2% 0 0 2%;
        width: 45%;
    }

    .signup-button {
        grid-row: 3 / span 1;
        width: 45%;
    }

}
   /* Small Size */
@media only screen and (min-width: 360px) and (max-width: 768px) {
    .right-side{
        width: 70%;
        grid-template-rows: auto 20% 20%;
        grid-template-columns: auto;
        padding: 10% 2% 2% 2%;
    }
    .left-side {
        width: 30%;
        z-index: -3;
    }

    .right-side-text {
        grid-row: 1 / span 1;
    }
    .right-side-subtext {
        grid-row: 2 /span 1;
        padding-top: 0 !important;
        /* margin-top: 8%; */
    }
    .button-container{
        grid-row: 3 / span 1;
        /* margin-top: 15%; */
    }
    
    .find-friend-button {
        margin: 2% 0 0 2%;
        /* font-size: medium; */
        width: 49%;
        padding: 0;
    }

    .signup-button {
        grid-row: 3 / span 1;
        width: 49%;
        background-color: var(--accent-color-2);
    }

  }
  

