/*
.assignment-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xx-large;
    min-height: 95vh;
} 

body {
    background-color: #f2f5f7;
}
button, input[type="button"] {
    border-radius: 10px;
    outline: none;
    cursor:pointer;
    border: none;
} */


/* .find-friend-button:hover, .signup-button:hover, .site-demo2-button:hover {
    transition: 0.25s;
    transform: translateY(4px);
} */
