.followers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.followers-listing {
  columns: 2;
  width: 100%;
  /* height: calc(100vh - 344px); */
  overflow-y: auto;
  margin: 1px auto;
  box-shadow: var(--elevation-2);
  border-radius: 0 0 7.5px 7.5px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.tabContainer {
  width: 50%;
  background-color: "white";
  color: "black";
  height: calc(100vh - 100px);
}

.cardContainer {
  width: 100%;
  margin: 30px auto;
  font-family: var(--ff-primary);
  overflow-y: auto;
}

.Tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  align-items: flex-start;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.follower-card {
  display: flex;
  width: 100%;
  padding: 15px;
  box-shadow: var(--elevation-1);
  border-radius: 7.5px;
  align-items: center;
}

.follower-card-pic {
  width: 75px;
  height: 75px;
  border-radius: 7.5px;
}

.follower-card-name {
  padding-left: 15px;
  font-size: var(--h2);
  font-family: var(--ff-primary);
}

@media only screen and (min-width: 414px) and (max-width: 1024px) {
  .tabContainer {
    width: 75%;
  }

  .tab-container-link {
    /* display: none; */
  }

  .followers-container {
    width: 100%;
  }

  .followers-listing {
    width: 100%;
    columns: 1;
  }
}

@media only screen and (max-width: 414px) {
  .tabContainer {
    width: 95%;
  }

  .tab-container-link {
    display: none;
  }

  .followers-container {
    width: 100%;
  }

  .followers-listing {
    width: 100%;
    columns: 1;
  }
}
