html,body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

/* code {
} */

*, *::before, *::after{

  box-sizing: border-box;
}

:root{

  /* UI Colors*/
  --primary-clr: #24949a;
  --inset-txt-field-clr: #FCF8F8;
  --site-preview-1-container-color: #C6A5A5;
  --site-preview-2-container-color:  #9cc0f9;
  --cancel-delete-exit-color: #EB1B1B;
  --accent-color-2: #131b49;
  --accent-color-1: #feebde;
  
  /*text colors*/
  --primary-txt-clr: #000;
  --secondary-txt-clr: #7d7d7d;
  --inactive-txt-clr: #B3B3B3;
  --reversed-txt-clr: #fff;

  /*typography*/ 
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Roboto', sans-serif;
  --ff-tertiary: 'Nunito', sans-serif;

  /* shadows */
  --elevation-0: none;
  --elevation-1: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
  --elevation-2: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
  --elevation-3: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
  --elevation-4: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
  --elevation-5: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
  --elevation-6: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
  --elevation-7: 0 9px 12px 1px rgba(0,0,0,0.14), 0 3px 16px 2px rgba(0,0,0,0.12), 0 5px 6px -3px rgba(0,0,0,0.20);
  --elevation-8: 0 12px 17px 2px rgba(0,0,0,0.14), 0 5px 22px 4px rgba(0,0,0,0.12), 0 7px 8px -4px rgba(0,0,0,0.20);
  --elevation-9: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.20);
  --elevation-10: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.20); 
  
  /*font sizes */
  --hero: 2.5em;
  --h0: 2.5em;
  --h1: 2em;
  --h2: 1.5em;
  --h3: 1.17em;
  --h4: 1em;
  --h5: .83em;
  --h6: .67em;

  --body: 1em;
}


/*add upward animation on hover*/

label{
  font-family: var(--ff-primary);
}

/*button{
  border: none;
  border-radius: 10px;
  cursor:pointer;
}*/


/*button span{
  font-family: var(--ff-primary);
  font-weight: 600;
}*/


h1{
  font-family: var(--ff-primary) !important;
}

h2{
  font-family: var(--ff-primary) !important;
}

h3{
  font-family: var(--ff-primary) !important;
}



